/*General*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Nav Segment*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #232D3F;
    padding: 25px;
    position: sticky;
    z-index: 999;
    top: 0;
}

.navbar_logo{
    font-size: 3rem;
    background-color: #005B41;
    background-image: linear-gradient(to top, #005B41 0%, #00FDB6 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-decoration: none;
    cursor: pointer;
}

.navbar_logo:hover{
    background-image: linear-gradient(to bottom, #005B41 0%, #00FDB6 100%);
}

.navbar_link{
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    padding-left: 20px;
    cursor: pointer;
}

.navbar_link:hover{
    color: #00FDB6;
    transition: 0.2s ease-in;
}

.navbar_toggle{
    display: none;
}



/*Body Segment*/
body {
    background-color: #0F0F0F;
}
body *{
    color: #fff;
    text-decoration: none;
}

.body_element{
    border-radius: 5px;
}

.inline_link{
    color: #005B41;
}

.body_element_h3{
    color: #005B41;
    margin-bottom: 15px;
}

.body_element:hover .inline_link{
    color: #00FDB6;
    transition: 0.2s ease-in;
}

.body_element:hover .body_element_h3{
    color: #00FDB6;
    transition: 0.2s ease-in;
}

/*Hero*/
.hero_container{
    margin: 30px;
    padding: 30px;
    border-radius: 5px;
    background-color: #232D3F;
}

.hero_container *{
    color: #fff;
}

.hero_container h1{
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero_element{
    font-size: 1.5rem;
    color: #fff;
}

/*Body*/
.body_element{
    color: #fff;
    font-size: 1.5rem;
    margin: 30px 15px;
    background-color: #232D3F;
    padding: 20px;
}

/*Footer Segment*/
.footer_container{
    background-color: #232D3F;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer_element{
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

.footer_h3{
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 10px;
}

.footer_link{
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    padding: 10px 5px;
    cursor: pointer;
}

.footer_link:hover{
    color: #00FDB6;
    transition: 0.2s ease-in;
}